.card {
    box-sizing: border-box;
    width: 980px;
    height: auto;

    background: #FFFFFF;
    /* тень */

    box-shadow: 0px 0px 14px rgba(112, 121, 153, 0.3);
    border-radius: 15px;

    display: flex;
    flex-direction: row;
    align-items: center;
    justify-content: center;
}

.card__forms {
    display: flex;
    flex-direction: column;

    border-right: 1px solid #DDE3EE;
}

.card__forms > div:not(:first-child) {
    border-top: 1px dashed #5C87DB;
}

.card__price {
    box-sizing: border-box;
    height: 100%;
    width: 100%;

    display: flex;
    align-items: center;
    justify-content: center;
}

.price__text {
    font-style: normal;
    font-weight: 700;
    font-size: 32px;
    line-height: 38px;
    /* identical to box height */

    text-align: center;

    color: #232323;
}